@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: var(--color-primary); 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff77; 
    border: none;
}